.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 0 0 32px;
}
.menu_item{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #848ab8;
  padding: 0 0 16px;
  border-bottom: 3px solid white;
}
.menu_item:empty{
  width: 50px;
  height: 22px;
  margin-bottom: 16px;
  background-color: #f5f5fa;
  -webkit-animation: loading 1s infinite ease-in-out;
}
.activeLink{
  border-bottom: 3px solid #5468ff;
  color: #5d6494;
}
.input_section{
  background-color: #f5f5fa;
  padding: 0 32px;
  height: 80px;
}
.input_block{
  outline: none;
  border: none;
  background: inherit;
  font-size: 24px;
  color: #3a416f;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: 80px;
}
.input_block::placeholder{
  color: #848ab8;
}
.search_btn{
  font-size: 25px;
  color: #5468ff;
}
.search_img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 120px;
}
.category{
  margin: 16px 0 0;
  max-width: 100%;
}
.category_list{
  padding: 0;
  list-style: none;
}
.hints{
  font-size: 12px;
  padding: 8px;
  text-align: center;
  background: #f5f5fa;
  color: #5d6494;
  border-radius: 5px;
  transition: 0.2s;
  width: inherit;
  max-width: 100%;
  margin-left: 13px;
}
.hints:empty{
  margin: auto;
  width: 115px;
  max-width: 100%;
  height: 33px;
  border-radius: 5px;
  background-color: #f5f5fa;
  -webkit-animation: loading 1s infinite ease-in-out;
}
.category_list li:first-child .hints{
  margin-left: 0;
}
.hints:hover{
  background-color: #d3d3dd;
}
.activeHints{
  background-color: #d3d3dd;
}
@media only screen and (max-width: 1065px ){
  .hints:empty{
    margin: auto;
    width: 90px;
    max-width: 100%;
    height: 33px;
    border-radius: 5px;
    background-color: #f5f5fa;
    -webkit-animation: loading 1s infinite ease-in-out;
  }
}
@media only screen and (max-width: 425px ) {
  h1{
    font-weight: 400;
    color: #3A416F;
    font-size: 28px;
  }

}
@media only screen and (max-width: 530px ){
  .input_block{
    font-size: 20px;
  }
}
@media only screen and (max-width: 645px ){
  .search_img{
    width: 20px !important;
    overflow-y: hidden;
    background-size: cover;
    background-position: -55px;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 767px ){
  .menu{
    padding-left: 0;
    padding-top: 10px;
  }

}
@media only screen and (max-width: 959px ){
  .category{
    display: none;
  }
  .menu{
    padding-top: 10px;
  }
}
@keyframes loading {
  0%{
    background-color: #f5f5fa;
  }
  50%{
    background-color: #fefefe;
  }
  100%{
    background-color: #f5f5fa;
  }
}
